.login{
    display: grid;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 10px 25px;
    background-color: rgb(152, 152, 202);
    display: flex;
    border: 10px silver;
    border-radius: 15%;
    color: rgb(0, 0, 0);
    color-scheme: calc();
    margin: 10px;
    transition: 0.1s ease;
}

button:hover{
    background-color: rgb(219, 187, 187);
    color: rgb(250, 250, 250);
    /* transform: translate(50px, -20px); */
}

