.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 20px;
}

.card{
    border-radius: 15px;
    box-shadow: 0 2px 5px black;
    padding: 20px;
    width: 100%;
    margin: 10px 2px;
}
