.header {
  height: 60px;
  background: linear-gradient(135deg, #1976d2, #0d47a1);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1px;

  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.header h1{
  height: 60px;
  color: rgb(0, 0, 0);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1px;
}